<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Signup Requests</li>
  </ol>
</nav>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Request #</th>
      <th scope="col">Customer First Name</th>
      <th scope="col">Customer Last Name</th>
      <th scope="col">Street No.</th>
      <th scope="col">Street Name</th>
      <th scope="col">Suburb</th>
      <th scope="col">City</th>
      <th scope="col">ICP Number</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @pending_ownerships.each do |item| %>
        <td><%= item.id%></td>            
        <td><%= item.customer.first_name %></td>
        <td><%= item.customer.last_name %></td>
        <td><%= item.property.number %></td>
        <td><%= item.property.street_name %></td>
        <td><%= item.property.suburb %></td>
        <td><%= item.property.city %></td>
        <td><%= item.property.icp_number %></td>
        <td><%= button_to "View", admin_ownership_path(item), :method => 'get', :class => "btn btn-success btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>