<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Signup Requests", admin_ownerships_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Request # <%= @ownership.id %></li>
  </ol>
</nav>
<%= form_with model: [:admin, @ownership] do |ownership_form| %>
  <div class="row">
      <div class="col-4">
        <h3><u>Customer Info</u></h3>
        <%= ownership_form.fields_for [:admin, @ownership.customer] do |customer_form| %>
          <div class="form-group">
            <%= customer_form.label :first_name %>
            <%= customer_form.text_field :first_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= customer_form.label :last_name %>
            <%= customer_form.text_field :last_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= customer_form.label :phone_number %>
            <%= customer_form.text_field :phone_number, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= customer_form.label :card_number %>
            <%= customer_form.text_field :card_number, class: 'form-control' %>
          </div>
        <% end %>
      </div>
      <div class="col-8 left-border">
        <h3><u>Property Info</u></h3>
        <%= ownership_form.fields_for [:admin, @ownership.property] do |property_form| %>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= property_form.label :number %>
                <%= property_form.text_field :number, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= property_form.label :street_name %>
                <%= property_form.text_field :street_name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= property_form.label :suburb %>
                <%= property_form.text_field :suburb, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= property_form.label :city %>
                <%= property_form.text_field :city, class: 'form-control' %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= property_form.label :region %>
                <%= property_form.text_field :region, class: 'form-control' %>
              </div>             
              <div class="form-group">
                <%= property_form.label :postcode %>
                <%= property_form.text_field :postcode, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= property_form.label :icp_number %>
                <%= property_form.text_field :icp_number, class: 'form-control' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h3><u>Register Serials</u></h3>  
    </div>
  </div>
  <%= ownership_form.submit "Save", class: "btn btn-success" %>
<% end %>

<% if false %>
<div class="row">
<div class="col">
  <h3><u>Customer Info</u></h3>
  <%= render 'admin/customers/form' %>
</div>
<div class="col left-border">
  <h3><u>Property Info</u></h3>
  <%= render 'admin/properties/form' %>
</div>
<div class="col left-border">
  <h3><u>Register Serials</u></h3>
  <%= render 'admin/register_serials/form' %>
  <hr>
  <h3><u>Status</u></h3>
  <%= render 'admin/ownerships/form' %>
</div>
</div>
<hr>
<% end %>


