<% provide(:title, 'Manage Property') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", customer_path(@customer.id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Property</li>
  </ol>
</nav>
<%= render 'layouts/flash' %>
<div class="row">
  <div class="col">
    <h4 class="stripe-heading">Property Detail</h4>
    <p><strong>Address:</strong>  <%= "#{@property.number} #{@property.street_name}, #{@property.suburb}, #{@property.city}, #{@property.postcode}" %></p>
    <p><strong>ICP:</strong>  <%= @property.icp_number %></p>
  </div>
  <div class="col left-border">
    <h4 class="stripe-heading">Meter</h4>
    <p><strong>Enter your latest meter reading</strong></p>
    <%= render 'meters/form' %>
  </div>
</div>
<hr>