<% provide(:title, 'Sign Up') %>

<%= render 'layouts/navbar_main', disabled_link: 'signup' %>

<div class="signup-background">
  <div class="container">
    <div class="content-wrapper">
      <h1>Join Minishop</h1>
      <%= render 'layouts/signup_tabs', enabled_tab: 4 %>
      <div class="row">
        <div class="col-6">
          <div class="signup-form">
            <h2>Your Details</h2>
            <p><strong>First name:</strong> <%= @customer.first_name %></p>
            <p><strong>Last name:</strong> <%= @customer.last_name %></p>
            <p><strong>Phone number:</strong> <%= @customer.phone_number %></p>
            <p><strong>Card Number:</strong> <%= @customer.card_number %></p>
            <p><strong>Email:</strong> <%= @customer.user.email %></p>
            <h2>What's next ?</h2>
            <p>Our admin will process your request and get back to you soon !</p>
            <%= button_to "Proceed to Login", login_path, method: 'get', class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

