<%= form_with model: [:admin, @property], local: true do |f| %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <%= f.label :number , :class => 'input-group-text input-group-text-label'%>
      </div>
      <%= f.text_field :number, :class => 'form-control' %>
    </div>      
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <%= f.label :street_name, :class => 'input-group-text input-group-text-label' %>
      </div>
      <%= f.text_field :street_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <%= f.label :suburb, :class => 'input-group-text input-group-text-label' %>
      </div>
      <%= f.text_field :suburb, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <%= f.label :city, :class => 'input-group-text input-group-text-label' %>
      </div>
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <%= f.label :region, :class => 'input-group-text input-group-text-label' %>
      </div>
      <%= f.text_field :region, :class => 'form-control' %>
    </div>    
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <%= f.label :postcode, :class => 'input-group-text input-group-text-label' %>
      </div>
      <%= f.text_field :postcode, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <%= f.label :icp_number, :class => 'input-group-text input-group-text-label' %>
      </div>
      <%= f.text_field :icp_number, :class => 'form-control' %>
    </div>
  </div>
    <%= f.submit "Save", class: "btn btn-success" %>
<% end %>
 