<% provide(:active_link, 'properties') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Properties", admin_properties_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Property # <%= @property.id %></li>
  </ol>
</nav>
<%= render 'layouts/flash' %>
<div class="row">
  <div class="col">
    <%= render 'form' %>
  </div>
  <div class="col left-border">
    <%= render 'admin/register_serials/register_serials_table', :register_serials => @property.register_serials %>
    <%= render 'admin/register_serials/form' %>
  </div>
</div>
<hr>
<h4>Customers</h4>
<%= render 'admin/customers/customers_by_ownerships_table', :ownerships => @property.ownerships %>
