<% provide(:active_link, 'properties') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Properties", admin_properties_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Propert # <%= @property.id %></li>
  </ol>
</nav>
<%= render 'layouts/flash' %>
<div class="row">
  <div class="col">
    <%= render 'form' %>
  </div>
  <div class="col left-border">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Register Serial</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @property.register_serials %>
      </tbody>
    </table>
    <%= render 'admin/register_serials/form' %>
  </div>
</div>
<hr>
<h4>Customers</h4>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @property.ownerships.each do |ownership| %>
      <tr>
        <td><%= ownership.customer.id%></td>            
        <td><%= ownership.customer.first_name %></td>
        <td><%= ownership.customer.last_name %></td>
        <td><%= ownership.customer.user.email %></td>
        <td><%= render 'admin/ownerships/status_toggle_edit', :ownership => ownership %></td>
      </tr>
    <% end %>
  </tbody>
</table>