<!DOCTYPE html>
<html>
  <head>
    <title>Minishop | Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/shared/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'admin/shared/sidebar', :active_link => 'dashboard' %>
        <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
