<!DOCTYPE html>
<html>
  <head>
    <title>Minishop | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% provide(:title, 'Sign Up') %>
  <%= render 'layouts/navbar_main', disabled_link: 'signup' %>

  <div class="signup-background">
    <div class="container">
      <div class="content-wrapper">
        <h1>Join Minishop</h1>
        <%= yield %>
      </div>
    </div>
  </div>

  </body>
</html>
